<h4>Labels</h4>
<ul class="nav nav-pills nav-stacked">
<% @labels.each do |label| %>
  <li>
      <%= link_to label.name, {controller: 'plans', action: 'index', label: label.id}, method: 'get' %>
  </li>
<% end %>
</ul>
<%= form_for @new_label do |l| %>
  <%= l.text_field :name %>
  <%= l.submit %>
<% end %>
