@import "bootstrap";
@import "bootstrap-responsive";

tr {
  height: 30px;
}
td {
  padding: 0 10px;
}

td h3 {
  font-size: 1em;
  line-height: 1.2;
  display: inline;
}

table.plans {
  width: 100%;
}

.comment {
  widt: 100%;
}
