<h2>Plans</h2>
<div class="row-fluid">
  <div class="span9">
    <div class="tabbable">
      <div class="pull-right">
        <%= form_tag plans_path, method: 'get', style: 'display: inline' do %>
          <span class="input-append">
            <%= text_field_tag :search, params[:search]  %>
            <%= button_tag content_tag(:i, '', class: 'icon-search'), class: 'addon btn' %>
          </span>
        <% end %>
        <%= link_to 'New Plan', new_plan_path, class: 'btn', data: {hotkey: 'n'} %>
      </div>
      <ul class="nav nav-tabs" id="plans-tabs">
        <li><a href="#tab-open-plans" data-toggle="tab"><%= pluralize(@open_plans.count, 'open plan') %></a></li>
        <li><a href="#tab-closed-plans" data-toggle="tab"><%= pluralize(@closed_plans.count, 'closed plan') %></a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-open-plans" class="tab-pane">
          <%= render 'plan_table', plans: @open_plans %>
        </div>
        <div id="tab-closed-plans" class="tab-pane">
          <%= render 'plan_table', plans: @closed_plans %>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
  </div>
</div>

<% content_for :javascript do %>
  <script>
    $('#plans-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    })
    $('#plans-tabs a:first').tab('show');
  </script>
<% end %>
