<%= form_for @plan do |f| %>
  <div class="row"><h2 class="span12"><%= @plan.title %></h2></div>
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="span12 comment border-radius"><%= comment.prose %></div>
    </div>
  <% end %>
  <%= fields_for @new_comment do |c| %>
    <div class="row">
      <%= c.text_area :prose, placeholder: 'Blah', class: 'span12', style: 'display: inline;' %>
    </div>
  <% end %>
  <div>
    <div class="span2"><%= f.submit class: 'btn' %></div>
    <% action = @plan.open? ? 'close' : 'reopen' %>
      <div class="span2"><%= link_to content_tag(:button, action.humanize, class: 'btn green'), {action: action, id: @plan.id}, method: 'put' %></div>
  </div>
<% if not @plan.open? %>
  <div>Closed <%= @plan.closing_time.strftime('%A, %b. %e') %></dvi>
<% end %>
<% end %>

